<header>
    <nav>
        <div class="label">
            <label for="switch">
                <input type="checkbox" id="switch"> Dark Mode
            </label>
        </div>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="">Criar</a></li>
        </ul>
        <div class="label">
            <label for="pesquisa">Pesquisar:
    
            </label>
            <input type="search" id="pesquisa" name="pesquisa">
        </div>
    </nav>
</header>