<header>
    <nav>
        <div class="label">

        </div>
        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Criar</a></li>
        </ul>
        <div class="label">
            <label for="pesquisa">Pesquisar:
    
            </label>
            <input type="search" id="pesquisa" name="pesquisa">
        </div>
    </nav>
</header>