<header>
    <nav>
        <div class="label">
            
        </div>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#info">Informação</a></li>
            <li><a href="/cadastro">Criar</a></li>
        </ul>
        <div class="label dark-mode">
            <label for="switch">
                <input type="checkbox" id="switch"> Dark Mode
            </label>
        </div>
    </nav>
</header>