<header>
    <nav>
        <div class="label">
            <label for="pesquisa">
                <img src="/img/search.svg" alt="search-icon">
            </label>
            <input type="search" id="pesquisa" name="pesquisa" placeholder="Pesquisar">
        </div>
        <ul>
            <li><a href="#inicio">Inicio</a></li>
            <li><a href="#info">Informação</a></li>
            <li><a href="/cadastro">Criar</a></li>
        </ul>
        <div class="label dark-mode">
            <label for="switch">
                <input type="checkbox" id="switch"> Dark Mode
            </label>
        </div>
    </nav>
</header>

