<section class="search">
    <form action="/search" method="post">
        <button type="submit"><img src="/img/search.svg" alt="search-icon"></button>
        <input type="text" name="jogo" placeholder="Procurar">
    </form>
</section>