@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --cor-de-fundo: #ceddec;
    --color: #222527;
    --color-hover: #f0f9ff;
    --link-color: #222;
    --link-color-hover: #879cd6;
    --nav: #5f78d1;
    --border: #23367a;
    --shadow: #82a2c2;
    --input: #eff7ff;
    --fundo-botao: #1a2331;
    --color-botao: #e4e5e6;
    --border-botao: #4460c5;

    --global-padding: 5rem;
    --transition: all .6s ease-in-out;
}

.dark-mode:root {
    --cor-de-fundo: #1a2331;
    --color: #e4e5e6;
    --color-hover: #2f3031;
    --link-color: #dee2e6;
    --link-color-hover: #242835;
    --nav: #1e3070;
    --border: #4460c5;
    --shadow: #132e55;
    --input: #74787a;
    --fundo-botao: #ceddec;
    --color-botao: #222527;
    --border-botao: #23367a;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--color-normal);
    font-family: 'Work Sans', sans-serif;
    transition: var(--transition);
}

header {
    background-color: var(--nav);
    padding: 1rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    border: solid 1px var(--border);
    box-shadow: 5px 5px 10px 8px var(--shadow);
    transition: var(--transition);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cormorant Garamond', 'Franklin Gothic Medium';
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: var(--color);
    transition: var(--transition);
}

header ul a:hover {
    color: var(--color-hover);
    transform: scale3d(2.5, 1.2, 0.3);
}

header ul li {
    font-size: 2rem;
}

div.label {
    color: var(--color);;
    width: 20rem;
}

div.dark-mode {
    padding-left: 10rem;
}

div.label label {
    padding: 0 .6rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}

div.label label:hover {
    color: var(--color-hover);
    transform: scale3d(2.5, 1.2, 0.3);
}

section {
    width: 100%;
    padding: var(--global-padding);
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section h2 {
    font-size: 3rem;
    color: var(--color);
    margin: 2rem auto;
    text-align: center;
    width: 100%;
    transition: var(--transition);
}

section div.poster {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 1220px;
    padding: 20px;
}

section div.poster div.poster-image {
    display: grid;
    justify-content: center;
}

section div.poster div.poster-image img {
    width: 50vh;
    border: solid 1px var(--border);
    box-shadow: 10px 8px 5px 8px var(--shadow);
    transition: var(--transition);
}

section div.poster div.poster-title {
    display: grid;
    justify-content: center;
}

section div.poster div.poster-title h3 {
    color: var(--color);
    font-size: 2rem;
    margin: 1rem 0;
    transition: var(--transition);
}

section div.poster div.poster-infos {
    display: grid;
}

section div.poster div.poster-infos p {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--color);
    font-weight: 600;
    text-align: center;
    transition: var(--transition);
}

section div.poster div.poster-infos p.descricao {
    margin: 1rem 0;
    text-align: left;
    transition: var(--transition);
}

section div.poster div.poster-btn {
    display: grid;
    justify-content: center;
}

section div.poster div.poster-btn a {
    display: grid;
    justify-content: center;
    padding: .5rem;
    width: 200px;
    text-decoration: none;
    margin: 2rem auto;
    font-size: 1.2rem;
    background-color: var(--cor-de-fundo);
    border: solid 5px var(--border);
    color: var(--color);
    cursor: pointer;
    transition: var(--transition);
}

section div.poster div.poster-btn a:hover {
    background-color: var(--fundo-botao);
    color: var(--color-botao);
    border: solid 5px var(--border-botao);

    animation: rotate 1s alternate-reverse forwards;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

footer {
    background-color: var(--color);
    padding: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    transition: var(--transition);
}

footer p {
    width: 100%;
    text-align: center;
    color: var(--cor-de-fundo);
    font-size: 1.2rem;
    padding: .3rem;
    margin-bottom: .8rem;
    transition: var(--transition);
}

footer a {
    margin: 0 1rem;
}




