@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --cor-de-fundo: #ceddec;
    --color: #222527;
    --color-hover: #f0f9ff;
    --link-color: #222;
    --link-color-hover: #879cd6;
    --nav: #5f78d1;
    --border: #23367a;
    --shadow: #82a2c2;
    --input: #eff7ff;
    --filter: invert(0)

    --global-padding: 5rem;
    --transition: all .6s ease-in-out;
}

.dark-mode:root {
    --cor-de-fundo: #1a2331;
    --color: #e4e5e6;
    --color-hover: #2f3031;
    --link-color: #dee2e6;
    --link-color-hover: #242835;
    --nav: #1e3070;
    --border: #4460c5;
    --shadow: #132e55;
    --input: #74787a;
    --filter: invert(1)
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--color-normal);
    font-family: 'Work Sans', sans-serif;
    transition: all .6s ease-in-out;
}

header {
    background-color: var(--nav);
    padding: 1rem;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    border: solid 1px var(--border);
    box-shadow: 5px 5px 10px 8px var(--shadow);
    transition: var(--transition);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Cormorant Garamond', 'Franklin Gothic Medium';
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    list-style: none;
}

header ul a {
    text-decoration: none;
    color: var(--color);
    transition: var(--transition);
}

header ul a:hover {
    color: var(--color-hover);
    transform: scale3d(2.5, 1.2, 0.3);
}

header ul li {
    font-size: 2rem;
}

div.label {
    color: var(--color);;
    width: 20rem;
}

div.dark-mode {
    padding-left: 10rem;
}

div.label label {
    padding: 0 .6rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: var(--transition);
}

div.label label:hover {
    color: var(--color-hover);
    transform: scale3d(2.5, 1.2, 0.3);
}

div.label input {
    font-size: 1rem;
    border-radius: 5px;
    color: var(--color);
    border: 1px solid var(--cor-de-fundo);
    background-color: var(--input);
    transition: var(--transition);
}

section {
    width: 100%;
    padding: var(--global-padding);
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section h1 {
    font-size: 2.5rem;
    color: var(--color);
    margin: 2rem auto;
    text-align: center;
    width: 100%;
    transition: var(--transition);
}

section div.container {
    margin: 1rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    max-height: 650px;
}

section div.container a.container-link {
    text-decoration: none;
    transition: var(--transition);
}

section div.container a.container-link:hover {
    transform: scale3d(1.1, 1.1, .3);
}

section div.container div.container-title {
    display: flex;
    justify-content: center;
}

section div.container div.container-title h2 {
    color: var(--color);
    font-size: 1.8rem;
    text-align: center;
    margin-top: .8rem;
    margin-bottom: 1rem;
    padding-right: 1rem;
    transition: var(--transition);
}

section div.container div.container-image {
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

section div.container div.container-image img {
    width: 55vh;
    height: 70vh;
    border-radius: 10px;
}

section div.container div.container-infos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 1rem 5vw;
    padding: 0;
    list-style-type: none;
}

section div.container div.container-infos p {
    font-size: 1.1rem;
    color: var(--color);
    line-height: 1.5rem;
    font-weight: 600;
    text-align: center;
    transition: var(--transition);
}

section div.container div.container-btn {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

section div.container div.container-btn img {
    width: 1rem;
    transition: all .6s ease-in-out;
    filter: var(--filter);
}

section div.container div.container-btn img:hover {
    transform: scale(2);
}

section div.container div.container-btn img.delete-icon {
    position: relative;
    top: -38rem;
    right: -15.5rem;
}

section div.container div.container-btn img.edit-icon {
    position: relative;
    top: -36rem;
    right: -14rem;
}

footer {
    background-color: var(--color);
    padding: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5rem;
    transition: var(--transition);
}

footer p {
    width: 100%;
    text-align: center;
    color: var(--cor-de-fundo);
    font-size: 1.2rem;
    padding: .3rem;
    margin-bottom: .8rem;
    transition: var(--transition);
}

footer a {
    margin: 0 1rem;
}



